$black: hsl(0, 0%, 0%);
$bittersweet: hsl(7, 99%, 70%);
$jaffa: hsl(18, 86%, 62%);
$woodsmoke: hsl(220, 7%, 8%);
$charad: hsl(234, 18%, 21%);
$abbey: hsl(228, 3%, 29%);
$soft-peach: hsl(0, 27%, 98%);
$white: hsl(0, 0%, 100%);

$site-navigation-link: $woodsmoke;
$site-navigation-link-hover: $bittersweet;
$company-phone: $woodsmoke;
$company-phone-hover: $bittersweet;
$menu-button-bg: $bittersweet;
$menu-button-open-bg: $white;
$site-navigation-link-before-desktop: $abbey;
$site-navigation-item-bg: $soft-peach;
