$black: #000000;
$bittersweet: #fe7867;
$jaffa: #f17d4b;
$woodsmoke: #131416;
$woodsmoke-half: #13141680;
$woodsmoke-60: #13141699;
$woodsmoke-70: #131416b3;
$charad: #2c2e3f;
$charad-30: #2c2e3f4d;
$abbey: #48494c;
$soft-peach: #fbf8f8;
$white: #ffffff;
$mischka: #d7d9df;
$white-70: #ffffffb3;

// Background's fallback colors
$section-feedback-bg-color: #ef7371;
$modal-window-buy-tour: #518ca9;

// Box shadows
$feedback-form-box-shadow: #2936421a;

// Purpose
$site-navigation-link: $woodsmoke;
$site-navigation-link-hover: $bittersweet;
$link-icon: $woodsmoke;
$link-icon-hover: $bittersweet;
$menu-button-bg: $bittersweet;
$menu-button-open-bg: $white;
$site-navigation-link-before-desktop: $abbey;
$site-navigation-item-bg: $soft-peach;
$main-footer-title: $woodsmoke;
$main-footer-list-item: $woodsmoke-half;
$main-footer-paragraph: $woodsmoke-half;
$link-icon-secondary-color: $bittersweet;
$link-icon-secondary-svg-stroke: $mischka;
$footer-separator-color: $mischka;
$button-bg-color: $bittersweet;
$site-banner-text-dark: $charad;
$button-transparent-border-color: $white-70;
$heading-color: $charad;
$paragraph-color: $charad;
$separator: $bittersweet;
$country-card-title-color: $charad;
$country-card-backdrop-bg-color: $woodsmoke-60;
$tabs-tab-color: $charad-30;
$tabs-list-border-color: $charad-30;
$tabs-tab-color-selected: $bittersweet;
$prices-contact-color: $woodsmoke;
$card-price-border-color: $charad-30;
$card-price-border-color-hover: $bittersweet;
$card-price-header-color: $woodsmoke-70;
$card-price-header-color-hover: $bittersweet;
$card-price-text-color: $charad;
$card-price-icon-check-fill: $bittersweet;
$card-price-icon-check-fill-hover: $woodsmoke;
$card-price-separator: $charad-30;
$card-price-separator-hover: $bittersweet;
$countries-bg-color: $soft-peach;
$feedback-form-color: $woodsmoke;
$input-border-color: $charad-30;
$input-color: $woodsmoke;
$input-invalid-color: $bittersweet;
$section-feedback-bg-color-mobile: $soft-peach;
