.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 30px 40px;
  background-color: $button-bg-color;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $white;
}

.button__svg {
  fill: none;
}

.button--icon {
  justify-content: space-between;
}

@media (max-width: $desktop) {
  .button {
    padding-top: 19px;
    padding-bottom: 19px;
    font-weight: 500;
    font-size: 10px;
    line-height: normal;
  }

  .button--icon {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}
