.card-price {
  display: flex;
  flex-direction: column;
  border: 1px solid $card-price-border-color;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: $white;
  padding: 39px 29px 29px;
  width: 370px;
}

.card-price--complex {
  .card-price__list-item:first-of-type {
    margin-bottom: 6px;
  }
}

.card-price:hover {
  border-width: 3px;
  border-color: $card-price-border-color-hover;
  padding: 37px 27px 27px;

  .card-price__header {
    color: $card-price-header-color-hover;
  }

  .card-price__icon-check {
    fill: $card-price-icon-check-fill-hover;
  }

  .card-price__text::after {
    background-color: $card-price-separator-hover;
  }
}

.card-price__header {
  display: flex;
  justify-content: space-between;
  color: $card-price-header-color;
}

.card-price__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
}

.card-price__price {
  font-weight: 700;
  font-size: 25px;
  line-height: 34px;
}

.card-price__text {
  position: relative;
  padding-bottom: 28px;
  margin-top: 42px;
  margin-bottom: 30px;
  max-width: 289px;
  font-size: 16px;
  line-height: 24px;
  color: $card-price-text-color;

  &::after {
    position: absolute;
    bottom: 0;
    display: block;
    content: "";
    height: 1px;
    width: 310px;
    background-color: $card-price-separator;
  }
}

.card-price__list {
  margin-top: 0;
  margin-bottom: 30px;
  padding-left: 0;
  list-style-type: none;
}

.card-price__list-item {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.card-price__offer {
  max-width: 280px;
  font-size: 16px;
  line-height: 32px;
  color: $card-price-text-color;
}

.card-price__icon-check {
  margin-top: 5px;
  margin-right: 8px;
  display: block;
  flex-shrink: 0;
  fill: $card-price-icon-check-fill;
}

.card-price__button {
  margin-top: auto;
}

@media (max-width: $desktop) {
  .card-price {
    padding: 29px 19px 0;
    width: 288px;
    border-bottom-width: 0;
  }

  .card-price:hover {
    padding: 27px 17px 0;
    border-bottom-width: 0;
  }

  .card-price__header {
    flex-direction: column;
    justify-content: auto;
    align-items: center;
  }

  .card-price__title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .card-price__text {
    position: relative;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    max-width: 248px;
    text-align: center;

    &::after {
      width: 100%;
    }
  }

  .card-price__list-item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .card-price__offer {
    max-width: 218px;
  }

  .card-price__icon-check {
    margin-right: 8px;
  }

  .card-price__button {
    position: relative;
    left: -20px;
    width: calc(100% + 40px);
    line-height: 12px;
    letter-spacing: 2px;
  }
}

@media (max-width: $tablet) {
  .card-price--complex {
    .card-price__list {
      margin-bottom: 44px;
    }
  }
}
